@import "../variables.scss";

.footer {
  display: block;
  margin: 0px;
  background-color: $footer-color;
  width: 100%;
  & .upperFooter {
    display: flex;
    background-color: $footer-color;
    height: max-content;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 400px) {
      flex-direction: column;
    }

    & .socialMediaContainer {
      & a {
        height: min-content;
        align-items: center;
        display: flex;
      }

      & .githubIcon {
        background-color: transparent;
        color: white;
        font-size: 4vh;
        height: 4vh;
        width: 4vh;
        margin: 10px;
      }
    }

    & h4 {
      font-weight: normal;
      margin-right: 10px;
    }
  }

  & .lowerFooter {
    display: flex;
    background-color: $lower-footer-color;
    justify-content: space-evenly;
    padding: 5px;

    & .linkColumn {
      text-align: center;
      & .linkColumnHeader {
        text-decoration: underline;
        margin: 0px;
        font-weight: 100;
      }

      & .linkColumnLink {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
