@import "../variables.scss";

.nav {
  font-size: small;
  display: flex;
  background: $navbar-color;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 10px;
  z-index: 99999;
  height: 60px;

  nav {
    display: block;
    margin-left: auto;
    
    * {
      display: inline-block;
    }
    a {
      color: white;
    }
  }
  h1 {
    margin-top: 12px;
  }
}

.navBufferDiv {
  height: 7.5vh;
  top: 0;
  width: 100%;
}

.button {
  width: auto;
  margin: 0px 5px;
  height: calc(100% - 12px);
  font-size: 12pt;
  padding: 5px 15px;
  background-color: $link-color;

  display: inline-flex !important;
  align-items: center;

  cursor: pointer;

  border-bottom: 2px solid rgb(179, 179, 179);

  color: white;
  
  a {
    text-decoration: none;
  }

  // border-radius: 5px;
  // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  &.currentPath {
    border-bottom-color: $active-link-color;
    border-bottom-width: 5px;

    &:hover {
      background-color: adjust-color($color: $active-link-color, $alpha: -0.6);
      border-bottom-width: 6px;
    }
  }
  &:hover {
    background-color: adjust-color($color: rgb(179,179,179), $alpha: -0.7);
    border-bottom-width: 3px;
  }
}

.profilePictureContainer {
  height: 45px;
  width:  45px;
  margin: auto 10px; /* im a genius */
  margin-left: 5px;
  position: relative;

  .profilePicture {
    width: 100%;
    height: 100%;
    position: relative !important;

    border-radius: 50%;
    // height: 40px;
    aspect-ratio: 1 / 1;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.575);

    transition: border-radius 0.2s ease;

    cursor: pointer;
    
  }

  .profilePicture:hover, .profileMenu:hover + .profilePicture {
    border-radius: 10%;
  }

  .profileMenu {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.575);
    background-color: rgb(58, 88, 55);

    padding: 15px 25px;
    border-radius: 5px;

    width: fit-content;

    position: absolute;
    margin-top: 40px;
    top: 25px;

    h1 {
      border-bottom: 1px white solid;
      margin-top: 0px;
    }
    a {
      margin: 5px 0px;
      padding-bottom: 5px;
      display: block;
      color: white;
      border-bottom: 1px rgba(255, 255, 255, 0.517) dashed;

      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        border: none;
      }
    }

    animation: profileMenuEnter 0.5s ease;
  }
}

@keyframes profileMenuEnter {
  from {
    top: 0px;
    opacity: 0;
  }

  to {
    top: 25px;
    opacity: 1;
  }
}