.galleryContainer {
    border: 1px solid white;
    text-align: center;
}

.image {
    // display: none;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    & img {
        margin-left: auto;
        margin-right: auto;
     }
}