$link-color: rgb(67, 72, 90);
$active-link-color: rgb(59, 105, 71);

.nav {
  font-size: small;
  display: flex;
  background-color: rgb(57, 60, 71);
  position: relative;
  top: 0;
  padding: 10px;
}

.nav a {
  color: white;
}

.button {
  width: auto;
  margin: 0px 5px;
  font-size: 16pt;
  padding: 5px 15px;
  background-color: $link-color;

  color: white;
  text-decoration: none;

  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.button.currentPath {
  background-color: $active-link-color;
}

.button:hover {
  background-color: lighten($link-color, 10%);
}

.button.currentPath:hover {
  background-color: lighten($active-link-color, 10%);
}
