.nav {
  font-size: small;
  display: flex;
  background-color: rgb(57, 60, 71);
  position: relative;
  top: 0;
  padding: 10px;
}

.button {
  width: auto;
  margin: 0px 5px;
  font-size: 16pt;
  padding: 5px 15px;
  background-color: rgb(67, 72, 90);

  color: white;
  text-decoration: none;

  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.button.currentPath {
  background-color: rgb(82, 59, 105);
}

.button:hover {
  background-color: rgb(72, 81, 112);
}

.button.currentPath:hover {
  background-color: rgb(105, 65, 146);
}