$navbar-color: rgb(57, 60, 71);
$footer-color: rgb(57, 60, 71);

$bg-color: rgb(26, 26, 27);
$page-header-color: rgb(19, 101, 19);
$home-header-color: rgb(23, 110, 49);
$link-color: rgb(67, 72, 90);
$active-link-color: rgb(59, 105, 71);

:export {
  footerColor: $footer-color;
  linkColor: $link-color;
}
